.the-job {
  height: 134px;

  text-align: center;

  font-size: 3.3vw;
  font-weight: 500;
  line-height: 67.2px;
  margin-top: 35px;
  color: #000000;
}
.additional-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hr-krlm {
  width: 72vw;
}
.child-krl-rooms {
  width: 72vw;
}

.wrapper-venudetails-photo {
  width: 72vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8%;
  box-sizing: border-box;
}

.venue-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.venue-content {
  width: 50vw;
}

.price-button {
  width: 80px;
  height: 25px;
  border-radius: 15px;
  background-color: orange;
}

.krl-rooms {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rooms-image {
  width: 8vw;
  margin: 10px;
}
.rooms-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calender-link {
  text-decoration: none;
  background-color: #fdeccd;
  color: #e6680c;
  width: 150px;
  height: 45px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e6680c;
}
.venue-big-img {
  width: 25vw;
}
@media (min-width: 750px) {
}
@media (max-width: 700px) {
  .details-hr {
    width: 40vw;
  }
  .venue-content p {
    font-size: 12px;
  }
  .krl-rooms h1 {
    font-size: 18px;
  }
  .includes-h1 {
    font-size: 12px;
  }

  .calender-link {
    width: 90px;
    font-size: 10px;
  }
}
@media (max-width: 530px) {
  .wrapper-venudetails-photo {
    display: flex;
    flex-direction: column;
    gap: 5vw;
  }
  .venue-big-img {
    width: 40vw;
  }
}
@media (max-width: 410px) {
  .rooms-image {
    width: 15vw;
  }
}
