.allian-evnets {
  text-align: center;
  font-family: "Roboto";
  font-size: 63px;
  font-weight: 700;
  text-align: center;
}

.home-hr-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.home-hr {
  width: 38.5vw;
  align-self: center;
}

.magical-meeting {
  font-family: "Roboto";

  font-size: 5.5vw;
  font-weight: -500;
  text-align: center;
}

.home-div {
  background-color: #fff152;
  min-height: 70vh;
  margin-top: 50px;

  padding: 20px;
}

.categories {
  font-size: 5vw;
}

.each-item-cls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.each-card-li {
  list-style: none;
  padding: 5px;
  margin: 10px;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 10px 10px 6px rgba(10, 10, 10, 0.3);
  border: 1px solid black;
}
.each-container {
  width: 16.5vw;
  border-radius: 10px;
}
.home-filter-ul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  box-sizing: border-box;
  gap: 10px;
  margin-top: 20px;
}

.each-card-container {
  margin-top: 20px;
  width: 72vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 6vw;
  flex-wrap: wrap;
}
.category-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.child-category {
  width: 72vw;
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.allian-footer {
  font-size: 9vw;
  text-align: center;
  letter-spacing: 7px;
}

.event-span {
  color: rgb(243, 45, 45);
}
.allian-evnets {
  font-size: 9vw;
}

@media (min-width: 760px) {
  .allian-footer {
    font-size: 13vw;
  }
}

@media (min-width: 635px) and (max-width: 760px) {
  .allian-footer {
    font-size: 13vw;
  }
  .home-hr {
    width: 80vw;
  }
}
@media (min-width: 400px) and (max-width: 635px) {
  .home-hr {
    width: 80vw;
  }
}

@media (max-width: 600px) {
  .each-card-container {
    display: flex;
    flex-direction: column;
    margin-right: 15vw;
  }
  .each-container {
    width: 60vw;
  }
}
