.header-li {
  list-style: none;
  border: 1px solid black;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.header-li h1 {
  font-size: 16px;
}

.acive-color {
  background: orange;
}

@media (min-width: 558px) and (max-width: 635px) {
  .header-li h1 {
    font-size: 14px;
  }
}
@media (min-width: 280px) and (max-width: 558px) {
  .header-li h1 {
    font-size: 8px;
  }
}
@media (max-width: 405px) {
  .header-li h1 {
    font-size: 5px;
  }
}
