.footer-ul {
  display: flex;
  list-style: none;
  font-size: 12px;
  gap: 15px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9vw;
  gap: 80px;
  margin-right: 22px;
  margin-bottom: 20px;
}

@media (min-width: 400px) and (max-width: 1000px) {
}

@media (min-width: 280px) and (max-width: 558px) {
  .footer-ul {
    display: none;
  }
}
