.calender-parent {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 100px;
  height: 50vh;
  margin-top: 12vw;
}
.backColor-active {
  background-color: orange;
}
.reverse {
  width: Fixed (280px) px;

  top: 762px;
  left: 256px;
  padding: 20px 32px 20px 32px;
  gap: 8px;
  border-radius: 16px 0px 0px 0px;
  background: #a29f9a;
  color: white;

  margin-top: 80px;
}

.time-list {
  list-style: none;
  width: 50px;
}

.time-button {
  width: 100px;
  height: 40px;
  padding: 10px;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.inner-div {
  width: 72vw;
}
.calender-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calender-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reverse:hover {
  background: orange;
}
.confirm-btn {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 15px;
}

@media (max-width: 913px) {
  .calender-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .calender-parent hr {
    width: 80vw;
  }
  .date-timings {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  .time-button {
    max-width: 50px;
  }
  .time-button p {
    font-size: 8px;
  }
  .reverse {
    width: 200px;

    top: 10px;
    left: 10px;
    padding: 5px;
    gap: 2px;
    border-radius: 10px;
    background: #a29f9a;
    color: white;

    margin-top: 5px;
  }
  .br-tag {
    display: none;
  }
  .checkOut-days {
    margin-top: 600px;
  }
  .calender-flex {
    display: f;
    flex-direction: column;
  }
}
